/* Individual website variables*/
:root {
  --eucalyptus: #9ca89e;
  --sagebrush: #517470;
  --tanglewood: #C4BDB1;
  --danger: #e2afb4;
  --light: #7c827d;
  --dark: #6e756f;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.main-content {
  background-color: var(--eucalyptus);
}

main {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #C4BDB1;
}
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Navigation bar */
.nav-custom-styles {
  background-color: var(--eucalyptus);
}

.navigation {
  width: 50%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-self: center;
}
/* most needed styles */

.bg-eucalyptus {
  background-color: var(--eucalyptus);
}

.bg-sagebrush {
  background-color: var(--sagebrush);
}

.bg-dark {
  background-color: var(--dark);
}

.text_light {
  color: var(--light);
}

.text_dark {
  color: var(--sagebrush);
}

.no-decoration {
  text-decoration: none;
}

.primary-link {
  color: var(--sagebrush);
}

.primary-link:hover {
  opacity: .5;
  color: #C4BDB1;
}

.horizontal-spacer {
  padding: 0px 0;
}

.haze-overlay {
  opacity: .4;
}

.header-image {
  width: 100%;
} 

.get-in-touch_button {
  margin: 0 100px;
}

.portfolio-project-cards {
  margin-top: 50px;
}

.about-container {
  padding: 100px 0px;
}

.txt-rotate {
  color: var(--sagebrush);
}

.typed-cursor {
  animation: blinker 1.2s linear infinite;
  color: var(--sagebrush);
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.project-img {
  width: 100%;
  height: 400px;
}
/* try out */

.headerImageContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width:480px) {
  .headerImageContent {
    position: absolute;
    top: 102%;
    left: 50%;
  }
  .header-image {
    display: none;
  }
  .nav-custom-styles {
    margin-bottom: 180px;
  }
}

@media (max-width: 992px) {
  .mobile-width {
    width: 85%;
  }
}