/* individual website variables*/
:root {
  --eucalyptus: #9ca89e;
  --sagebrush: #517470;
  --tanglewood: #C4BDB1;
  --danger: #e2afb4;
  --light: #7c827d;
  --dark: #6e756f;
}

.main-content {
  background-color: var(--eucalyptus);
}

main {
  background-color: white;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #C4BDB1;
}

a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* navigation bar */
.nav-custom {
  background-color: var(--eucalyptus);
}

.logo {
  display: flex;
  align-self: center;
}

/* styles */
.bg-eucalyptus {
  background-color: var(--eucalyptus);
}

.bg-sagebrush {
  background-color: var(--sagebrush);
}

.bg-tanglewood {
  background-color: var(--tanglewood);
}

.text_sagebrush {
  color: var(--sagebrush);
}

.primary-link {
  color: var(--sagebrush);
}

.primary-link:hover {
  opacity: .5;
  color: var(--dark);
  text-decoration: overline;
}

.haze-overlay {
  opacity: .4;
}

.header-image {
  width: 100%;
} 

.profile-image {
  width: 100%;
  height: auto;
}

.portfolio-project-cards-container {
  margin-top: 50px;
}

.about-and-experience-container {
  padding: 100px 0px 50px 0px;
}

.headerImageContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-logo-width {
  width: 200px;
}

/* baguetteBox styles start */
.workGallery {
  max-width: 100%;
  margin: 30px auto;
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  justify-items: stretch;
}
/* baguetteBox styles start */


/* media queries */
@media ( max-width: 576px ) {
  .nav-custom,
  .page-footer {
    background-color: var(--tanglewood);
  }
}

@media ( max-width: 768px ) {
  .mobile-center-text {
    text-align: center;
  }

  .profile-image {
    width: 260px;
    height: auto;
    margin: 0 auto;
  }
}
